
.container{
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red; 
}


section{
    padding-bottom: 110px;
}






                        /* header */
.header{
    padding-top: 35px;
}


.header .container{
    display: flex;
    justify-content: space-between;
}


.logo {
color: #FED136;
font-family: "Bilbo Swash Caps", sans-serif;
font-size: 36px;
font-weight: 400;
line-height: 113.889%; 
letter-spacing: 1.3px;

}


.header__nav__list{
    display: flex;
    gap: 10px;
    justify-content: center;
}


.header__nav__item__link {
    color: #FED136;
text-align: center;
font-family: "Montserrat", sans-serif ;
font-size: 14px;
font-weight: 400;
line-height: 292.857%; 
text-transform: uppercase;
}
                            /* main */
/* Services */



.services__title {
color: #222;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 187.5%;
letter-spacing: -1px;
text-transform: uppercase;
margin-bottom: 79px;
}


.services__list{
    display: flex;
    flex-basis: calc((100% - 3 * 30px) / 3);
    gap: 26px;
    justify-content: center;
}


.services__item__img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.services__item__title {
color: #222;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 416.667%; 
letter-spacing: -0.45px;
}


.services__item__text {
color: #777;
text-align: center;
font-family: "RobotoSlab", sans-serif;
font-size: 14px;
font-weight: 400;
letter-spacing: -0.35px;
}

/* Form */
.form{
    background-color:#222;
}


.form__title {
color: #FFF;
font-family: "Montserrat", sans-serif;
font-size: 40px;
font-weight: 700;
letter-spacing: -1px;
text-transform: uppercase;
text-align: center;
padding-top: 92px;
padding-bottom: 114px;
}


.form__main__textarea{
    width: 458px;
    padding-top: 14px;
    padding-left: 22px;
    resize: none;
}


.form__main__input{
    width: 455px;
padding-top: 12px;
padding-bottom: 21px;
padding-left: 20px;
color: #BBB;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.35px;
text-transform: uppercase;

}


.form__main__input:not(:last-child){
    margin-bottom: 28px;
}


.form__button {
color: #FFF;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
background-color: #FED136;
width: 242px;
height: 68px;
display: block;
margin: 0 auto;

}


.form_div{
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}


.form_div2{
    display: flex;
    flex-direction: column;
    margin-right: 27px;
} 